<header>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="padd">
          <!-- Hero title -->
          <h2>Quittance vous permet de générer rapidement vos quittances et de les envoyer par email.</h2>
        </div>
      </div>
      <div class="row">
        <div class="span6 offset3">
          <div class="row">
            <div class="span6">
              <p><a href="/users/sign_in" class="btn btn-large btn-warning">Essayer</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <img src="<%= asset_path('img/banner.png')%>" alt="" border="0"> </div>
    </div>
  </div>
</header>
