<h2><b>Espace Client</b></h2>

<ul>
  <li><%= link_to("Mes locations", controller: :locations, action: :index) %></li>
  <li><%= link_to("Editer une quittance", controller: :quittance, action: :edit) %></li>
</ul>
